extends base
append guidelines
  li Mark optional fields and remove all non-vital fields.
  li Validate entries before form is submitted (try entering a email with incorrect format).
  li Be flexible with input format (e.g. phone).
block content
  .row-fluid
    - activenav = "contact"
    include sidenav
    .span5.offset1
      form#contact-form
        .control-group
          label First name
          input#fname(type="text", name="fname")
        .control-group
          label Last name
          input#lname(type="text", name="lname")
        .control-group
          label Email address
          input#email(type="email", name="email")
        .control-group
          label Confirm email address
          input#confirmemail(type="email", name="confirmemail")
        .control-group
          label Phone
          input#phone(type="text", name="phone")
        .control-group
          label Phone extension (optional)
          input#phoneext(type="text")

        button.btn.continue(type="submit") Save & Continue

