extends base
append guidelines
  li Remove surrounding navigation, redundant headlines, and keep the text short.
  li Favor fewer options and clearer choices on each screen, even if it means more total steps.
block content
  .jumbotron
    h2 Register your business or organization
  hr
  .row-fluid
    .span5
      h4 First time using SAM.gov?
      a.btn.btn-success(href="contact.html") Get Started

    .span6.offset1
      h4 Already have a SAM.gov account?
      a.btn(href="#") Sign In