extends base
append guidelines
  li Remove surrounding navigation, redundant headlines, and keep the text short.
  li Determine primary purpose so that only necessary and relevant information is collected.
block content
  .jumbotron
    h2 What is your primary reason for registering?
  hr
  .row-fluid
    .span5
      h3 Contracts
      p Does your business provide products or services that the government needs?
      a.btn.btn-primary(href="contact.html") Get Started

    .span5.offset1
      h3 Grants
      p Does your business or organization want to apply for government grants?
      a.btn.btn-success(href="contact.html") Get Started