extends base
block content
  .jumbotron
    h2 What's your primary reason for registering?
    p.lead So we can know what information to gather about your business.
  hr
  .row-fluid.marketing
    .span5
      h4 Contracts
      p Does your business provide products or services that the government needs?

      button.btn.btn-primary Get Started
    .span5.offset1
      h4 Grants
      p Does your business or organization want to apply for government grants?
      button.btn.btn-success Get Started
  hr