extends base
append guidelines
  li Determine primary purpose so that only necessary and relevant information is collected.
  li Provide clear action choices
block content
  .jumbotron
    h2 What is your primary reason for registering?
  hr
  .row-fluid
    .span5
      h3 Contracts
      p Does your business provide products or services that the government needs?
      a.btn.btn-primary(href="duns.html") Get Started

    .span5.offset1
      h3 Grants
      p Does your business or organization want to apply for government grants?
      a.btn.btn-success(href="duns.html") Get Started