.span3.left-side
  ul.nav.nav-tabs.nav-stacked
    - navs = [{title:"New account", href:"contact"}, {title:"Purpose", href:"purpose"}, {title:"DUNS", href:"duns"}, {title:"Step 3", href:"#"}]
    each nav in navs
      if activenav == nav.href
        li.active: a(href=nav.href + ".html")= nav.title
      else
        li: a(href=nav.href + ".html")= nav.title